body{
    background-image: url("/image/b.jpg");
    background-size: cover;
}

.left-block {
    float: left;
    width: 200px;
}

.right-block{
    margin-left: 50px;
    float: left;
    width: 950px;
}